<!-- Button trigger modal -->
<i type="button" class="modalbtn fa fa-envelope fa-fw" data-toggle="modal" data-target="#exampleModal">
</i>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">messages</h5>
        <div class="modal-color">
          <button class="btn dark"></button>
          <button class="btn light"></button>
        </div>
      </div>
      <div class="modal-body">
        <!--start message-->
        <div class="message-content">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="sender-img">
                <i class="fa fa-user-circle fa-fw fa-3x"></i>
              </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <div class="message-header">
                <div class="sender-name">
                  <h6>mohammed hamza</h6>
                </div>
              </div>
              <div class="message-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium asperiores, doloribus est exercitationem ipsa, labore laborum necessitatibus nemo numquam quibusdam quod ratione recusandae unde voluptatibus! Cupiditate et nihil pariatur?</p>
              </div>
            </div>
          </div>
        </div>
        <!--end message-->
        <!--start message-->
        <div class="message-content">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="sender-img">
                <i class="fa fa-user-circle fa-fw fa-3x"></i>
              </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <div class="message-header">
                <div class="sender-name">
                  <h6>mohammed hamza</h6>
                </div>
              </div>
              <div class="message-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium asperiores, doloribus est exercitationem ipsa, labore laborum necessitatibus nemo numquam quibusdam quod ratione recusandae unde voluptatibus! Cupiditate et nihil pariatur?</p>
              </div>
            </div>
          </div>
        </div>
        <!--end message-->
        <!--start message-->
        <div class="message-content">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
              <div class="sender-img">
                <i class="fa fa-user-circle fa-fw fa-3x"></i>
              </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <div class="message-header">
                <div class="sender-name">
                  <h6>mohammed hamza</h6>
                </div>
              </div>
              <div class="message-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium asperiores, doloribus est exercitationem ipsa, labore laborum necessitatibus nemo numquam quibusdam quod ratione recusandae unde voluptatibus! Cupiditate et nihil pariatur?</p>
              </div>
            </div>
          </div>
        </div>
        <!--end message-->
      </div>
      <!--end modal body-->
    </div>
  </div>
</div>