/*-- Footer-Starts-Here --*/
.footer {
    background-color: #142127;
    font-family: 'OpenSans-Regular';
}
.footer-info {
    padding-top: 10px;
}
.footer h3 {
    color: #009688;
    font-size: 20px;
    padding: 20px 0;
    text-align: left;
}
p.access-p {
    color: #525F5D;
    font-size: 13px;
    line-height: 25px;
}

address li {
    display: block;
    color: #525F5D;
    font-size: 13px;
    line-height: 20px;
}
address {
    margin-bottom: 20px;
}
a.mail {
    color: #047D74;
}
a.mail:hover {
    color: #FFF;
    text-decoration: none;
}

ul.footer_list li {
    display: block;
    line-height: 20px;
    font-size: 13px;
}
a.scroll {
    color: #525F5D;
}
a.scroll:hover {
    color: #FFF;
}

.social {
    text-align: center;
}
.footer ul.social {
    margin-top: 30px;
}
ul.social li {
    display: inline-block;
}
ul.social li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../../assets/images/img-sprite.png") no-repeat 0px 0px;
}
ul.social li a.facebook {
    background-position: 0px 0px;
}
ul.social li a.facebook:hover {
    background-position: 0px -50px;
}
ul.social li a.twitter {
    background-position: -50px 0px;
}
ul.social li a.twitter:hover {
    background-position: -50px -50px;
}
ul.social li a.googleplus {
    background-position: -100px 0px;
}
ul.social li a.googleplus:hover {
    background-position: -100px -50px;
}
ul.social li a.instagram {
    background-position: -150px 0px;
}
ul.social li a.instagram:hover {
    background-position: -150px -50px;
}
ul.social li a.youtube {
    background-position: -200px 0px;
}
ul.social li a.youtube:hover {
    background-position: -200px -50px;
}

.copyright {
    text-align: center;
    padding: 15px 0 30px 0;
}
.copyright p {
    color: #FFF;
}
.copyright a {
    color: #FFF;
    text-decoration: none;
}
.copyright a:hover {
    color: #009688;
    text-decoration: underline;
}

/*-- //Footer-Ends-Here --*/