<body>
  <div class="header">
    <app-snavbar [studentName]="studentName"></app-snavbar>
    <app-sinformation></app-sinformation>
  </div>
  <div class="content">
    <h1 class="abbr">welcome {{studentName}}! happy schooling.</h1>
    <div class="container">
      <app-timetable></app-timetable>
      <app-stutorials></app-stutorials>
      <app-steachers></app-steachers>
      <app-sevents></app-sevents>
      <app-scontact></app-scontact>
      <app-smessages></app-smessages>
    </div>
  </div>
  <app-sfooter></app-sfooter>
</body>