<div class="post-events slideanim">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <div class="post-event-wrapper">
                    <form>
                        <div class="event-name-wrapper">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Event name">
                            </div>
                        </div>
                        <div class="event-date-time-wrapper">
                            <div class="col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label>start date</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label>start time</label>
                                    <input type="text" class="form-control" placeholder="00:00">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label>end date</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="form-group">
                                    <label>end time</label>
                                    <input type="text" class="form-control" placeholder="00:00">
                                </div>
                            </div>
                        </div>
                        <div class="event-description-wrapper">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="event description"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
