.post-event-wrapper {
    color: #fff;
}

.post-event-wrapper .event-date-time-wrapper label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
}

.post-event-wrapper .event-date-time-wrapper .col-sm-3.col-md-3 {
    padding-left: 0;
    padding-right: 2px;
    margin-bottom: 15px;
}

.post-event-wrapper .event-date-time-wrapper .col-sm-3.col-md-3 input {
    font-size: 15px;
}

.post-event-wrapper .event-date-time-wrapper .col-sm-3.col-md-3 input::placeholder {
    text-transform: uppercase;
}

.post-event-wrapper form input {
    height: 50px;
}

.post-event-wrapper form input, .post-event-wrapper form textarea {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    border: 1px solid #fff;
    box-shadow: 0px 1px 17px -6px #222;
    resize: none;
}

.post-event-wrapper form input::placeholder, .post-event-wrapper form textarea::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.post-event-wrapper form button {
    background: #ed1c24;
    color: #fff;
    text-transform: uppercase;
    border-color: #ed1c24;
    outline: #ed1c24;
    margin-bottom: 5px;
    padding: 10px;
    transition: all ease-in-out .3s;
}

.post-event-wrapper form button:hover, .post-event-wrapper form button:focus {
    background: #fd2f37;
    border-color: #fd2f37;
}

@media (max-width: 767.98px) {
    .post-event-wrapper form input {
        height: 35px;
    }

    .post-event-wrapper form input, .post-event-wrapper form textarea {
        font-size: 14px;
    }

    .post-event-wrapper form textarea {
        height: 100px;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

@media (max-width: 575.98px) {
    .post-event-wrapper form input {
        height: 35px;
    }

    .post-event-wrapper form input, .post-event-wrapper form textarea {
        font-size: 14px;
    }

    .post-event-wrapper form button {
        padding: 7px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}

@media (max-width: 991.98px) {
    .post-event-wrapper form input {
        height: 35px;
    }

    .post-event-wrapper form input, .post-event-wrapper form textarea {
        font-size: 14px;
    }

    .post-event-wrapper .event-date-time-wrapper label {
        font-size: 13px;
    }

    .post-event-wrapper form button {
        padding: 7px;
    }
}