<div class="contact slideanim" id="scontact">
  <h3>CONTACT</h3>
  <div class="container">
    <form class="contact_form">
      <div class="message">
        <div class="row grid_12 c1">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control text" placeholder="Name">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <input type="email" class="form-control text" placeholder="Email">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control text" placeholder="Phone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 grid_12 c1">
            <textarea placeholder="Message" class="form-control"></textarea>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <input type="submit" class="btn more_btn" value="Send Message">
    </form>
  </div>
</div>