<div class="contact slideanim" id="scontact">
  <h3>CONTACT</h3>
  <form class="contact_form">

    <div class="message">
      <div class="col-md-6 col-sm-6 grid_6 c1">
        <input type="text" class="text" value="Name" placeholder="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
        <input type="text" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
        <input type="text" class="text" value="Phone" placeholder="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
      </div>

      <div class="col-md-6 col-sm-6 grid_6 c1">
        <textarea placeholder="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
      </div>
      <div class="clearfix"> </div>
    </div>

    <input type="submit" class="more_btn" value="Send Message">
  </form>
</div>