/*-- Admissions-Starts-Here --*/
.admissions {
    padding: 0 50px 60px 50px;
    border-bottom: 1px solid #EEE;
    text-align: center;
}
.admissions h3 {
    padding-bottom: 40px;
}
.admissions p {
    line-height: 35px;
    padding: 0 0 45px 0;
    text-align: left;
}
.pdf a {
    padding: 10px 20px;
    background-color: #F5F5F5;
    color: #000000;
    font-size: 18px;
    border: 1px solid #000;
}
.pdf sup {
    color: #03A9F4;
    font-size: 12px;
    top: -10px;
    font-weight: 600;
}
.pdf a:hover {
    background-color: #333;
    color: #FFF;
}
/*-- //Admissions-Ends-Here --*/