<div class="project slideanim" id="project">
  <h3>PROJECTS, RESEARCH AND DEVELOPMENT</h3>

  <div class="project-grid">
    <div class="col-md-4 col-sm-4 p2">
      <img src="./assets/images/e1.jpg" alt="project">
    </div>
    <div class="col-md-4 col-sm-4 p2">
      <h4>Lorem Ipsum</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui anim id est laborum cillum dolore eu fugiat nulla
        commodo. Sint occaecat cupidatat non proident, sunt in culpa qui officia laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4 p2 p3">
      <img src="./assets/images/e2.jpg" alt="project">
    </div>
    <div class="col-md-4 col-sm-4 p2 p4">
      <img src="./assets/images/e3.jpg" alt="project">
    </div>
    <div class="col-md-4 col-sm-4 p2 p5">
      <h4>Dolores Sit</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui anim id est laborum cillum dolore eu fugiat nulla
        commodo. Sint occaecat cupidatat non proident, sunt in culpa qui officia laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4 p2 p6">
      <img src="./assets/images/e4.jpg" alt="project">
    </div>
    <div class="clearfix"></div>
  </div>
</div>