<div *ngIf="firstYearWorks" class="year-works first-year-works">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"><i class="fa fa-book fa-fw"></i></th>
      <th scope="col">midterm</th>
      <th scope="col">practical</th>
      <th scope="col">oral</th>
      <th scope="col">activities</th>
      <th scope="col">attendance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">math</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th scope="row">arabic</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">english</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">history</th>
      <td>5</td>
      <td>10</td>
      <td>10</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">science</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">biology</th>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    </tbody>
  </table>
</div>
<!--end first year works-->

<div *ngIf="secondYearWorks" class="year-works second-year-works">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"><i class="fa fa-book fa-fw"></i></th>
      <th scope="col">midterm</th>
      <th scope="col">practical</th>
      <th scope="col">oral</th>
      <th scope="col">activities</th>
      <th scope="col">attendance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">math</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">arabic</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">english</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">history</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">science</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row">biology</th>
      <td>10</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    </tbody>
  </table>
</div>