<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo -->
      <a class="navbar-brand" href="#">Schoo</a>
      <!-- //Logo -->
    </div>
    <!-- Navbar-Collapse -->
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

        <li>
          <a href="#about" class="scroll">About</a>
        </li>
        <li>
          <a href="#foreword" class="scroll">Foreword</a>
        </li>

        <!-- Dropdown -->
        <li role="presentation" class="dropdown carat1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown1">
            <li>
              <a href="#admissions" class="scroll">Admissions</a>
            </li>
            <li>
              <a href="#alumnus" class="scroll">Alumnus</a>
            </li>
            <li>
              <a href="#programs" class="scroll">Programs</a>
            </li>
            <li>
              <a href="#services" class="scroll">Services</a>
            </li>
            <li>
              <a href="#teachers" class="scroll">Teachers</a>
            </li>
            <li>
              <a href="#edifice" class="scroll">Edifices</a>
            </li>
            <li>
              <a href="#project" class="scroll">Projects</a>
            </li>
            <li>
              <a href="#events" class="scroll">Events</a>
            </li>
          </ul>
        </li>
        <!-- //Dropdown -->

        <li>
          <a href="#news" class="scroll">News</a>
        </li>
        <li>
          <a href="#contact" class="scroll">Contact</a>
        </li>

        <!-- Login-Button -->
        <li>
          <div class="login-pop">
            <div id="loginpop">
              <a href="#" id="loginButton">
                <span>Login</span>
              </a>
              <div id="loginBox">
                <form id="loginForm">
                  <fieldset id="body">
                    <fieldset>
                      <label for="email">Email Address</label>
                      <input type="text" name="email" id="email">
                    </fieldset>
                    <fieldset>
                      <label for="password">Password</label>
                      <input type="password" name="password" id="password">
                    </fieldset>
                    <input type="submit" id="login" value="LOGIN">
                    <label for="checkbox">
                      <input type="checkbox" id="checkbox">
                      <i>Remember me</i>
                    </label>
                  </fieldset>
                  <span>
                    <a href="#">Forgot your password?</a>
                  </span>
                </form>
              </div>
            </div>
          </div>

        </li>
        <!-- //Login-Button -->

        <!-- Signup-Button -->
        <!--
        <li>
          <div class="login-pop">
            <div id="loginpop">
              <a href="#" id="signupButton">
                <span>Signup</span>
              </a>
              <div id="signupBox">
                <form id="signupForm">
                  <fieldset id="body">
                    <fieldset>
                      <label for="email">Name</label>
                      <input type="text" name="email" id="email">
                    </fieldset>
                    <fieldset>
                      <label for="email">Email</label>
                      <input type="text" name="email" id="email">
                    </fieldset>
                    <fieldset>
                      <label for="email">Username</label>
                      <input type="text" name="email" id="email">
                    </fieldset>
                    <fieldset>
                      <label for="password">Password</label>
                      <input type="password" name="password" id="password">
                    </fieldset>
                    <input type="submit" id="login" value="SIGNUP">
                  </fieldset>
                </form>
              </div>
            </div>
          </div>

        </li>
      -->
        <!-- //Signup-Button -->

      </ul>
    </div>
    <!-- //Navbar-Collapse -->

  </div>
</nav>