<div class="alumnus slideanim" id="alumnus">
  <h3>ALUMNUS</h3>
  <div class="alumnus-grid">
    <div class="col-md-4 col-sm-4 a1">
      <h4>Lorem</h4>
      <img src="./assets/images/6.jpg" alt="alumnus">
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4 a1">
      <h4>Ipsum</h4>
      <img src="./assets/images/4.jpg" alt="alumnus">
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4 a1">
      <h4>Dolores</h4>
      <img src="./assets/images/9.jpg" alt="alumnus">
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>