<div class="stimetable slideanim" id="stimetable">
  <h2>
    <button (click)="showLectureTable()" class="btn btn-dangar btn-lg">lectures table</button>
    <button (click)="showMidTermTable()" class="btn btn-dangar">midterm table</button>
    <button (click)="showFinalTable()" class="btn btn-dangar">final table</button>
  </h2>
  <app-lectures-table *ngIf="showLecture"></app-lectures-table>
  <app-midterm-table *ngIf="showMidTerm"></app-midterm-table>
  <app-final-table *ngIf="showFinal"></app-final-table>
</div>