/*-- Programs-Starts-Here --*/
.programs {
    background-color: #142127;
    padding-bottom: 50px;
    text-align: center;
}
.program-grid {    
    padding-top: 30px;
}
.programs h3 {
    color: #FFF;
    padding: 50px 0 20px 0;
}
.programs p {
    color: #FFF;
    padding: 20px 0;
}
.program1, .program2, .program3, .program4 {
    background-color: #EEE;
    padding: 20px 20px 10px;
    color: #FFF;
    border: 1px solid #EEE;
}
.program1 {
    background: url("../../assets/images/p1.png") no-repeat 95px 20px;
}
.program2 {
    background: url("../../assets/images/p2.png") no-repeat 95px 20px;
}
.program3 {
    background: url("../../assets/images/p3.png") no-repeat 95px 20px;
}
.program4 {
    background: url("../../assets/images/p4.png") no-repeat 95px 20px;
}

.program1 h4, .program2 h4, .program3 h4, .program4 h4 {
    margin-top: 100px;
    font-size: 20px;
    padding: 0;
}
.program1 p, .program2 p, .program3 p, .program4 p {
    padding: 30px 0;
    line-height: 25px;
    color: #8C8585;
}
/*-- //Programs-Ends-Here --*/