<header>
  <section class="navwrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo -->
          <a class="navbar-brand" href="#">schooling</a>
          <!-- //Logo -->
        </div>
        <!-- Navbar-Collapse -->
        <div id="navbar" class="navbar-collapse collapse">
          <div class="col-sm-offset-0 col-md-offset-0 col-lg-offset-3">
            <ul class="nav navbar-nav navbar-center">
              <li>
                <a href="#timetable" class="scroll">timetable</a>
              </li>
              <li>
                <a href="#classes" class="scroll">classes</a>
              </li>
              <li>
                <a href="#upload" class="scroll">upload</a>
              </li>
              <li>
                <a href="#events" class="scroll">lorem</a>
              </li>
              <li>
                <a href="#events" class="scroll">lorem</a>
              </li>
            </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="user">
              <a href="">
                <i class="fa fa-user-circle"></i>teacher
              </a>
            </li>
            <li class="user">
              <a href="">
                <app-tmessages></app-tmessages>
              </a>
            </li>
            <li class="user">
              <a href="">
                <app-tnotifications></app-tnotifications>
              </a>
            </li>
          </ul>
        </div>
        <!-- //Navbar-Collapse -->
      </div>
    </nav>
  </section>
</header>