
/*-- Project-Starts-Here --*/
div#project {
    border-bottom: 1px solid #EEE;
    text-align: center;
}
.project img {
    margin-bottom: 20px;
}
.project-grid h4 {
    padding: 0;
    font-size: 25px;
    color: #009688;
}
.project-grid p {
    line-height: 30px;
    margin-top: 20px;
}
.p2 {
    width: 33%;
    float: left;
    height: 310px;
}
/*-- //Project-Ends-Here --*/