<div class="fees" id="fees">
    <div class="row">
      <div class="col-md-4 col-sm-4 child-fees center-block text-center">
        <div class="school-fees">
            <i class="fa fa-money fa-fw fa-2x"></i>
            <h4 class="h4">school fees</h4>
            <span class="year">4th year</span>
            <div class="fees-status">
              <span class="money">250</span>
              <span class="fees-check">
                <i class="fa fa-check-circle"></i>
              </span>
            </div>
            <!--end fees status-->
        </div>
        <!--end school fees-->
          <div class="overflow"></div>
      </div>
      <!--end col-->
      <div class="col-md-4 col-sm-4 child-fees center-block text-center">
          <div class="books-fees">
            <i class="fa fa-money fa-fw fa-2x"></i>
            <h4 class="h4">books fees</h4>
              <span class="year">4th year</span>
            <div class="fees-status">
              <span class="money">120</span>
              <span class="fees-check">
                <i class="fa fa-check-circle"></i>
              </span>
            </div>
            <!--end fees status-->
          </div>
          <!--end books fees-->
          <div class="overflow"></div>
      </div>
      <!--end col-->
      <div class="col-md-4 col-sm-4 child-fees center-block text-center">
          <div class="other-fees">
            <i class="fa fa-money fa-fw fa-2x"></i>
            <h4 class="h4">other fees</h4>
              <span class="year">4th year</span>
            <div class="fees-status">
              <span class="money">50</span>
              <span class="fees-check">
                <i class="fa fa-times-circle"></i>
              </span>
            </div>
            <!--end fees status-->
          </div>
          <!--end other fees-->
          <div class="overflow"></div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end fees-->