<div class="login-pop">
  <div id="loginpop">
    <a href="#" id="loginButton">
      <span>Login</span>
    </a>
    <div id="loginBox">
      <form id="loginForm">
        <fieldset id="body">
          <fieldset class="form-group">
            <label for="email">Email Address</label>
            <input type="text" class="form-control" name="email" id="email">
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
          </fieldset>
          <input type="submit" class="btn" id="login" value="LOGIN">
          <div class="form-check">
            <label for="checkbox">
              <input type="checkbox" class="form-check-input" id="checkbox">
              <i>Remember me</i>
            </label>
          </div>
        </fieldset>
        <span>
          <a href="#" class="btn">Forgot your password?</a>
        </span>
      </form>
    </div>
  </div>
</div>