/*-- Foreword-Starts-Here --*/
.foreword {
    padding: 0 50px 40px;
    border-bottom: 1px solid #EEE;
    background: #f3f3f3;
}
.foreword p {
    line-height: 35px;
}
.foreword span {
    display: block;
    text-align: right;
    font-size: 19px;
    line-height: 35px;
}
/*-- //Foreword-Ends-Here --*/