<div class="footer slideanim">

  <div class="container">

    <div class="footer-info slideanim">
      <div class="col-md-6 col-sm-6 access f1">
        <h3 class="access-h3">About</h3>
        <p class="access-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation, sed do eiusmod ullamco laboris nisi ut enim ad minim
          aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-4 col-sm-4 f2">
        <h3 class="address">Address</h3>
        <address>
          <ul>
            <li>Mansoura University</li>
            <li>El Gomhouria St, Mansoura, Dakahlia Governorate</li>
            <li>Telephone : +20 (106) 477-3503</li>
            <li>Email :
              <a class="mail" href="mailto:mail@example.com">info(at)sseet.com</a>
            </li>
          </ul>
        </address>
      </div>
      <div class="col-md-2 col-sm-2 f3" id="qlinks">
        <h3>Links</h3>
        <ul class="footer_list">
          <li>
            <a href="#about" class="scroll">About</a>
          </li>
          <li>
            <a href="#foreword" class="scroll">Foreword</a>
          </li>
          <li>
            <a href="#programs" class="scroll">Programs</a>
          </li>
          <li>
            <a href="#services" class="scroll">Services</a>
          </li>
          <!--
          <li>
            <a href="#edifice" class="scroll">Edifice</a>
          </li>
          <li>
            <a href="#project" class="scroll">Projects</a>
          </li>
        -->
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>

    <ul class="social slideanim" id="follow">
      <li>
        <a href="" target="_blanke">
          <i class="fa fa-facebook fa-fw fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blanke">
          <i class="fa fa-google-plus fa-fw fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blanke">
          <i class="fa fa-twitter fa-fw fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blanke">
          <i class="fa fa-instagram fa-fw fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blanke">
          <i class="fa fa-linkedin fa-fw fa-2x"></i>
        </a>
      </li>
    </ul>

    <div class="copyright">
      <p>&copy; 2018 Schooling Team. All Rights Reserved</p>
    </div>

  </div>

  <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
  </a>
  <!-- //Slide-To-Top JavaScript -->

</div>