<div class="login-pop">
  <div id="loginpop">
    <a href="#" id="loginButton">
      <span>Login</span>
    </a>
    <div id="loginBox">
      <form id="loginForm" #userLogin="ngForm" (submit)="sendUser(userLogin.value)">
        <fieldset id="body">
          <fieldset class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" id="email" ngModel>
          </fieldset>
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" required class="form-control" name="password" id="password" ngModel>
          </fieldset>
          <input type="submit" class="btn" id="login" value="LOGIN">
          <div class="form-check">
            <label for="checkbox">
              <input type="checkbox" class="form-check-input" name="remember" id="checkbox" ngModel>
              <i>Remember me</i>
            </label>
          </div>
        </fieldset>
        <span>
          <a href="#" class="btn">Forgot your password?</a>
        </span>
      </form>
    </div>
  </div>
</div>