<div class="services slideanim" id="services">
  <h3>SERVICES</h3>
  <p>We have taken up some Social Services done by our students in the slums and backward regions so that they can not only
    excel in education, but also as a good human being in the society.</p>
  <div class="col-md-6 col-sm-6 s1">
    <div class="services-info1">
      <h4>Free Medical Services</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum cillum
        dolore eu fugiat nulla commodo.</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 s1">
    <div class="services-info2">
      <h4>Free Education</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum cillum
        dolore eu fugiat nulla commodo.</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 s1">
    <div class="services-info3">
      <h4>Free Medicine Supply</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum cillum
        dolore eu fugiat nulla commodo.</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 s1">
    <div class="services-info4">
      <h4>Social Interaction</h4>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum cillum
        dolore eu fugiat nulla commodo.</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>