<section class="about-agileits" id="about">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 about-w3ls1" data-aos="zoom-in">
            <div class="hover01 column">
                <div>
                    <figure>
                        <img src="./assets/images/about-img.jpg" alt="" class="img-responsive">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about-w3ls2" data-aos="zoom-in">
            <div class="about-w3l">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </h3>
                <p> Maecenas libero odio, dignissim eu tempor et, efficitur ut nisl. Duis elementum nulla eu iaculis maximus.
                    Nullam enim neque, rhoncus in porta eget, maximus at elit. Duis faucibus velit non nunc luctus lobortis.
                    Praesent interdum finibus viverra. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed tortor feugiat nisl luctus pharetra.</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>