<div class="upload slideanim text-center" id="upload">
    <div class="container">
        <h3>upload tutorials</h3>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <form class="form-inline">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
                        <input type="text" class="form-control" id="inlineFormInputName2"
                               placeholder="https://www.example.com/firstLec.pdf">
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-block">upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>