.navbar{
    margin-bottom: 0;
    background: #009688;
    border: none;
    border-radius: 0;
}
.navbar .navbar-brand{
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
    font-family: 'FjallaOne-Regular';
    padding: 17px 15px;
}

.navbar .navbar-nav > li >a{
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
}
.navbar .navbar-nav > li.user >a{
    font-size: 18px;
    text-transform: uppercase;
}
.navbar .navbar-nav > li.user >a >i{
    margin-right: 5px;
}
.navbar .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #009688;
    background-color: #fff;
}